.calculator {
  width: 300px;
}

.header {
  margin-bottom: 2.35rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.logo-text-box {
  display: grid;
  justify-items: start;
}

.logo-img {
  width: 2.75rem;
}

.title {
  font-family: "Orbitron", serif;
  font-size: 2.5rem;
  text-align: center;
  line-height: 48px;
}

.tagline {
  font-size: 0.75rem;
  color: #787878;
}

.display {
  width: 100%;
  background: transparent;
  border: 2px solid #eee;
  padding: 1rem 2rem;
  text-align: right;
  font-size: 18px;
  color: #fff;
}

.display::placeholder {
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin-top: 20px;
}

.btn-accent {
  font-size: 3.5rem;
  background: #4263eb;
  color: #fff;
  grid-row: 5/5;
  grid-column: 1/-1;
  padding: 0;
  transition: all 0.2s ease-in;
}

button {
  padding: 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  background: #eee;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

button:not(.btn-accent):hover {
  background: #bebebe;
}

.btn-accent:hover {
  background: #354fbc;
}

@media (max-width: 767px) {
  html {
    font-size: 82%;
  }
}
